.title {
    font-size: 23px;
    font-weight: 700;
}

.hourly-grid {
    background-color: #f5f5f5;
    border-radius: 15px;
    display: flex;
    overflow-x: auto;
    padding: 10px;
    margin: 15px auto;
}

.hourly-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    margin-top: 10px;
    row-gap: 5px;
    min-width: 70px;
}

.icon-small {
    width: 40px;
}

.hour {
    color: #212121;
    flex: 1 1;
    font-weight: 600;
    font-size: 14px;
}

.hour-temp {
    font-size: 18px;
}

.pre {
    color: #757575;
    font-size: 12px;
}